// @import 'yoga';
@import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';

$c-primary: #96ca2d;
$c-light: #b5e655;
$c-secondary: #4bb5c1;
$c-secondary-light: #7FC6BC;
$c-white: #edf7f2;
$c-pure-white: #fff;
$c-lightGrey: #eee;

$m-gutter: 1rem;
$m-max-width: 60rem;

$font: 'Dosis', sans-serif;

body {
  margin: 0;
  background: rgba($c-secondary-light, 0.25);
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
  font-family: $font;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $c-lightGrey;
  }
}

.nav {
  padding: $m-gutter / 2;
  margin: 0;
  background: $c-primary;
  color: $c-white;
  display: flex;
  justify-content: space-between;
}

.section {
  padding: $m-gutter;
}

.container {
  margin: 0 auto;
  max-width: 65rem;
}

.index {
  text-align: center;
}

.welcome {
  font-size: 3rem;
}

.login {
  color: $c-secondary;
  > * {
    &:hover {
      color: $c-secondary-light;
    }
  }
}

.register {
  margin: 0 auto;
  background: $c-pure-white;
  width: 35rem;

  > * {
    padding: $m-gutter / 2;
  }

  &__header {
    background: $c-primary;
    color: $c-white;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    border-top: $c-secondary-light 0.1rem solid;
    margin: -0.5rem;
    margin-top: $m-gutter;
    padding: $m-gutter / 2;
    padding-top: 0;
  }

  &__form {
    margin-top: -1.5rem;
  }
}

.register-input {
  border: none;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.form-section {
  border-bottom: $c-secondary 0.2rem solid;
}

.submit-button {
  border: none;
  background: $c-primary;
  padding-top: -1rem;
  margin-top: $m-gutter / 2;
  font-size: 1.5rem;
  color: $c-white;

  &:hover {
    background: $c-light;
  }
}
